    <header class="header_area">
        <div class="main_header_area animated">
            <div class="container">
                <nav id="navigation1" class="navigation">
                    <div class="nav-header">
                        <a class="nav-brand" href="#"><strong>D</strong>ragseth <strong>E</strong>nergi<strong>C</strong>onsult</a>
                       <!-- <a class="nav-brand" href="#">Dragseth EnergiConsult</a>-->
                        <div class="nav-toggle"></div>
                    </div>
                    <div class="nav-menus-wrapper">
                        <a href="#contact" class="nav-button btn-pill bg-primary align-to-right">Kontakt</a>
                        <ul class="nav-menu align-to-right" id="nav">
                            <li class="active"><a href="#home">Hjem</a></li>
                            <li><a href="#features">Tjenester</a></li>
                            <li><a href="#projects">Prosjekter</a></li>
                            <li><a href="#partners">Samarbeidspartnere</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>