    <section class="section text-center margin-top margin-bottom">
      <style type="text/css">
        span:nth-child(1){color:#ff09cd;} 
        span:nth-child(2){color:#ff0081;} 
        span:nth-child(3){color:transparent;} 
        span:nth-child(4){color:#ff0032;} 
        span:nth-child(5){color:#ff3e00;} 
        span:nth-child(6){color:#ff7300;} 
        span:nth-child(7){color:#ff9f00;} 
        span:nth-child(8){color:#transparent;} 
        span:nth-child(9){color:#ffd200;} 
        span:nth-child(10){color:#fefb00;} 
        span:nth-child(11){color:#f1ff00;} 
        span:nth-child(12){color:#transparent;} 
        span:nth-child(13){color:#abff00;} 
        span:nth-child(14){color:#00ea30;}
        span:nth-child(15){color:#00d248;}
        span:nth-child(16){color:#00edff;}
        span:nth-child(17){color:#00ceff;} 
        span:nth-child(18){color:#transparent;} 
        span:nth-child(19){color:#00b6ff;} 
        span:nth-child(20){color:#0090ff;} 
        span:nth-child(21){color:#transparent;}
        span:nth-child(22){color:#0054ff;} 
        span:nth-child(23){color:#5931ff;} 
        span:nth-child(24){color:#8600ff;} 
        span:nth-child(25){color:#b300ff;} 
        span:nth-child(26){color:#d100ff;}  
      </style>
      <div class="container">  
          <h2 class="text-rainbow"><span>E</span><span>N</span><span>&nbsp;</span><span>O</span><span>A</span><span>S</span><span>E</span><span>&nbsp;</span><span>F</span><span>O</span><span>R</span><span>&nbsp;</span><span>G</span><span>L</span><span>E</span><span>D</span><span>E</span><span>&nbsp;</span><span>O</span><span>G</span><span>&nbsp;</span><span>V</span><span>E</span><span>K</span><span>S</span><span>T</span></h2>
       
      </div>
    </section>